


.swiper {
    margin-top:50px;
      width: 25%;
      height: 25%;
      border-radius:20px;
      margin: 30px ;

  }

  .swiper-slide {

    text-align: center;
    font-size: 2px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }

  .swiper-slide img {
    display: block;
    max-width: calc(100% - 40px );
    max-height:calc(100% - 40px ) ;
    object-fit: cover;
  }
/* some  varialable*/
:root{
    --green-color: #3cb815 ;
    --light-green-color:#c0eb7b ;
    --orange-color : ;
    --light--orange-colore: #ff7e00;
    --text-color: #1a2428;
    --bg-color: #fff;
}
img{
    width: 100%; 
    

}

.container{
    position:  relative;
    width: 100%;
    min-height: 640px;
    display: flex;
    align-items: center;
    background: url(bilder/havet.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.container img{
    width: 400px;
    position: absolute;
    bottom: -500px;
    right: 200px;
}

section{
    padding: 4.5rem 1.5rem ;
}
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.full-page{
    min-height: 100vh;
    min-width: 100vw;
    height: 100%;
    width: 100%;
    font-family: system-ui;
    background: #eee;
   /* background-image:  url(bilder/havet.jpg);/*linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),*/
    background-repeat: repeat;
    background-size: 100%;
    /* this block of code is for the setting  background image and 
    positionof the image*/
}

ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
}

.card {
    width: 40%;
    max-width: 240px;
    background-color: white;
    margin: 30px auto;
    padding: 2rem;
    border-radius: 20px;
}

.card button {
    border: none;
    margin: auto;
    text-align: center;
    padding: 1rem;
    border-radius: 6px;
    background-color: #3cb815;
}

.card button:hover {
    background-color: #2aa706;
    cursor: pointer;
}

.navbar{
    background-color: black;
    display: flex;
    align-items: center;
    padding: 20px;
    padding-left: 50px;
    padding-right: 30px;
    padding-top: 15px;
    
    
    /* this is for setting the dimmemsion of the 
    navigation bar*/
}
nav{
    flex: 1;
    grid-template-columns: auto;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style: none;
}
nav ul li{
    display: inline-block;
    margin-right: 70px;
    /* this blocks are  for styling the list elements  */

}
nav ul li a{
    text-decoration: none;
    font-size: 20px;
    color: white;
    font-family: sans-serif;
}
nav ul li button{
    font-size: 20px;
    color: white;
    outline: none;
    border: none;
    background: transparent;
    cursor: pointer;
    font-family: sans-serif;

}
nav ul li button:hover{
    color: aqua;

}
nav ul li a:hover{
    color: gold;

}
a{
    text-decoration: none;
    color: palevioletred;
    font-size: 28px;
}

/* this blocks */


.form-box{
        width: 380px;
        height: 480px;
        position: relative;
        margin: 2% auto; /* 6%*/
        background:rgb(63, 199, 237); /*background:rgba(0, 0, 0, 0.3);*/
        padding: 10px; /* 5px*/
        overflow: hidden;
/*creating the form with */
}

.button-box{
    width: 220px;
    margin:35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #ff61241f;
    border-radius: 30px;
}
.toggle-btn{
    padding: 10px 30px;
    cursor:pointer;
    background: transparent;
    border: 0;
    outline: none;
    position:relative;
}
#btn{
    top:0;
    left:0;
    position: absolute;
    width: 110px;
    height:100%;
    background: linear-gradient(to right,#ff105f, #ffad06); /* can chage the color of the button  -----  linear-gradien(to right, #ff105f, #ffad06)  */
    border-radius: 30px;
    transition: .5s;
}

.input-group-login{
    top: 180px; /*top:150px;*/
    position:absolute;
    width:280px;
    transition:.5s;
}

.input-group-register{
    top:120px;
    position:absolute;
    width:280px;
    transition:.5s;
}

.input-filed{
    width: 100%;
    padding:10px 0;
    margin:5px 0;
    border-left:0;
    border-top: 0;
    border-right:0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}

.submit-btn{
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: #F3C693;
    border-radius: 30px;
    border: 0;
    outline: none;
    border-radius: 30px;

}

.check-box{
    margin:30px 10px 34px 0;
}
span{
    color:#777;
    font-size:12px;
    bottom:68px;
    position : absolute;
    
}

#login{
    left:50px;
    color:black;
}

#login input{
    color: black;
    font-size:15;
}
#register{
    left:450px;
}
#register input{
    color:black;
    font-size:15;
   
}

/*creating contact */

.fm-box{
    width: 380px;
    height: 380px;
    position: relative;
    margin: 6% auto; 
    background:white; 
    padding: 5px; 
    overflow: hidden;
}
.but-box{
    width: 220px;
    margin:35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #ff61241f;
    border-radius: 30px;

}
.toggle-btc{
    padding: 10px 30px;
    cursor:pointer;
    background: transparent;
    border: 0;
    outline: none;
    position:relative;
}
#btc{
    top:0;
    left:0;
    position: absolute;
    width: 110px;
    height:100%;
    background : linear-gradient(to right,#ff105f, #ffad06) ; /* can chage the color of the button  -----  linear-gradient(to right,#ff105f, #ffad06)  */
    border-radius: 30px;
    transition: 5.s;

}
.social{
    top:120px;
    position:absolute;
    width:280px;
    transition:.5s;
    background: transparent;

}
.socials{
    top:120px;
    position:absolute;
    width:280px;
    background: transparent;
    transition:.2s;

}
#h2{
color: #ff105f;
}